img{
    width: 40px;
}
body{
    background-color: #c5dbf2;
}
#formDiv{
    width: 80%;
    height: 100%;
    border: 0px red solid;
    
}
#form{
    border:0px red solid;
    width: 700px;
    height: 400px;
    margin-left: 150px;
    padding-top: 30px;
}
.login{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 32px;
    
    
}
span{
    font-family: Arial, Helvetica, sans-serif;
    
}
a{
    color:teal;
    text-decoration: none;
}

input{
    width: 600px;
    height: 40px;
    font-size: 20px;
    /* border: teal 1px solid; */
}
label{
    font-family: Arial, Helvetica, sans-serif;
    color: #241c15;
    

}
.checkbox{
    /* margin-right: 30px; */
    width: 100px;
}
.lea{
    width: 100%;
}
.loginButton{
    width: 170px;
    background-color:#007C89; 
    color: aliceblue;
    margin-right: 30px;
    height: 50px;
    font-size: 20px;
    border: none;
}